@import "../_globalColor";

/* Offset for fixed header */
.main-content {
  padding-top: 70px;
}

/* Scroll offset for fixed header */
#skills {
  scroll-margin-top: 0;
}

#experience,
#projects,
#contact {
  scroll-margin-top: 20px;
}

#achievements {
  scroll-margin-top: 45px;
}
