@import "../../_globalColor";

.project-title {
  font-size: $fontSizeSectionHeading;
  font-weight: 400;
  line-height: normal;
}

.startup-project-text img {
  max-width: 85%;
  height: auto;
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 0.6rem 0.6rem;
}

/* Media Query */
@media (max-width: 1380px) {
  .project-title {
    font-size: $fontSizeSectionHeadingTablet;
  }
}
@media (max-width: 768px) {
  .project-title {
    font-size: $fontSizeSectionHeadingMobile;
    text-align: center;
  }
  .repo-cards-div-main {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
